nav.contents::after,div.admonition::after,blockquote::after{
    content: none;
}

pre, div[class*="highlight-"] {
    clear: left;
}

nav.contents{
    background-color: #f8f8f8;
}
span.pre{
    white-space: normal;
}
table.align-default {
    margin-left: 0%;
}

.highlight .hll {
    display: inline;
}